extends layout

block links

block content
    - var location = event.get('location')
    - var imageFile = location.get('image');
    - var imageURL = imageFile.url();
    - var ticketNumber = 1;

    .block.block-inverse
        .container 
            div.inline-block
                img.img-responsive(src="#{imageURL}", height='250', width='250')
            h1.m-b-lg #{location.get('name')}
            if transactions.length > 0
              h3 Ticket count #{transactions.length}
              .table-full
                  .table-responsive
                      table.table(data-sort='table')
                          thead
                              tr
                                  th
                                      input#selectAll.select-all(type='checkbox')
                                  th #
                                  th Customer name
                                  th Description

                          tbody
                          each transaction in transactions.length ? transactions : ['There are no transactions']
                              tr
                                  td  
                                      input.select-row(type='checkbox')
                                  td  ##{ticketNumber++}
                                  td  #{transaction.get('customerName')}
                                  td  #{transaction.get('description')}
            else 
              h3 No Ticket Sales Yet





block scripts
    script(src='/javascripts/orders.js')
